.app-name {
  font-family: Georgia sans-serif;
  color: #006aff;
  display: block;
  padding-left: 50px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  align-items: center;
}

.main-display {
  display: flex;
}

.map-container {
  height: 600px;
  width: 100%;
}

#mapid {
  display: flex;
  justify-items: center;
  align-items: flex-start;
  z-index: 0;
  height: 90vh;
  width: 40vw;
}
